global
  # to have these messages end up in /var/log/haproxy.log you will
  # need to:
  #
  # 1) configure syslog to accept network log events.  This is done
  #    by adding the '-r' option to the SYSLOGD_OPTIONS in
  #    /etc/sysconfig/syslog
  #
  # 2) configure local2 events to go to the /var/log/haproxy.log
  #   file. A line like the following can be added to
  #   /etc/sysconfig/syslog
  #
  #    local2.*                       /var/log/haproxy.log
  #
  log         /dev/log local2

  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        haproxy
  group       haproxy
  daemon

resolvers mydns
  parse-resolv-conf
  hold valid           10s

defaults
	log	global
	mode	http
	option	tcplog
	no option checkcache # Test against 502
	retries 3
	timeout client 1m
	timeout server 1m
	timeout connect 1m
	timeout check  10s

frontend fr_bbc
  mode tcp
	bind 0.0.0.0:9102
	option logasap
	default_backend bk_bbc

backend bk_bbc
  mode	tcp
    option httpchk
    option log-health-checks
    default-server inter 10s fall 2
    server srv1 www.bbc.co.uk:443 check resolvers mydns


listen stats
	bind 0.0.0.0:5000
	mode http
	stats enable
	stats uri /stats

frontend healthcheck_bbc
	bind 0.0.0.0:8080
	mode http
	acl bbc_dead nbsrv(bk_bbc) lt 1
	monitor-uri   /bbc_site_alive
	monitor fail  if bbc_dead
